// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

//show

h1 {
  margin: 15px 33px 10px 0;
  font-size: 20px;
}

h4 {
  margin: 10px 0;
}

.reaction {
  color: green;
  font-size: 15px;
}

.noticefications p {
  color: green;
}

// edit

p {
  margin: 15px;
}

h6 {
  margin-top: 13px ;
}


.link {
  padding-top: 0;
  font-size: 13px;
}

p {
  margin: 33px;
}

a {
	color: #000;
}

.form , .action {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

// new.index

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

th {
  padding-bottom: 5px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;

}
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px
}